*.db
*.pyc
*.DS_Store
.idea
.tox
.cache
.coverage
secret.sh
docs/_build/*
build/*
dist/*
django_sendgrid.egg-info/*
virtualenv
cover/
db.sqlite3

sendgrid_sample/static/admin/
sendgrid_sample/static/grappelli/
